;; Copyright (c) 2020 DINUM, Bastien Guerry <bastien.guerry@data.gouv.fr>
;; SPDX-License-Identifier: EPL-2.0
;; License-Filename: LICENSE

{:version     "0.1.0"
 :description "Generate dependencies data for https://code.etalab.gouv.fr"
 :url         "https://github.com/etalab/codegouvfr-deps"
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}

 :deps {org.clojure/clojure                 {:mvn/version "1.10.3"}
        borkdude/babashka                   {:mvn/version "0.2.6"}
        metosin/jsonista                    {:mvn/version "0.3.1"}
        hickory/hickory                     {:mvn/version "0.7.1"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}}

 :aliases {:native-image
           {:main-opts ["-m" "clj.native-image" "core"
                        ;; "--verbose"
                        "--no-fallback"
                        "--report-unsupported-elements-at-runtime"
                        "--initialize-at-build-time"
                        ;; Allow https
                        "-H:EnableURLProtocols=http,https"
                        ;; "-H:+PrintAnalysisCallTree"
                        ;; "-H:+ReportExceptionStackTraces"
                        ;; "-H:+TraceClassInitialization"
                        ;; Optional native image name override
                        "-H:Name=codegouvfr-deps"]
            :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image/clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha     "a78b6735bf325a18306b42f0ee640dc39f2d9127"}}}
           :jar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
                 :main-opts  ["-m" "hf.depstar.uberjar" "codegouvfr-deps.jar"
                              "-C" "-m" "core"]}}}
